
# Окружение
myenv/
../../lessons_1/venv/
env/
venv/
# Кэш Python
__pycache__/
*.pyc

# Настройки IDE (PyCharm)
.idea/

# Логи и временные файлы
*.log

# other
M_QA/
lessons/
interview/
Polako/

Exclude everything
A_QA/Lessons/



