
# Окружение
myenv/
../../lessons_1/venv/
env/

# Кэш Python
__pycache__/
*.pyc

# Настройки IDE (PyCharm)
.idea/

# Логи и временные файлы
*.log

# other
M_QA/
../../lessons_1/
Lessons/
Polako/
interview/
A_QA/Lessons/
